<h1>Log in to your library account</h1>
<p>See your checkouts, requests made from SearchWorks, and any fines or fees you owe.</p>

<div class="page-section">
  <h2>Stanford students, faculty, staff</h2>
  <%= link_to 'Log in with SUNet ID', login_by_sunetid_url, class: 'btn btn-primary' %>
</div>

<div class="page-section">
  <h2>Proxy or fee accounts</h2>
  <%= link_to 'Log in with PIN', login_url, class: 'btn btn-secondary' %>
</div>
