<p id="notice"><%= notice %></p>

<h1>Summary</h1>

<%= render 'shared/navigation' %>

<h2>Policies &amp; information</h2>
<ul>
  <li><%= link_to 'Borrower responsibilities', 'https://library.stanford.edu/using/borrow-renew-return/borrower-responsibilities' %></li>
  <li><%= link_to 'Circulation policy and instructions', 'https://library.stanford.edu/using/borrow-renew-return' %></li>
</ul>
