<p id="notice"><%= notice %></p>

<h1>Fines</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
<% end %>

<ul class="fines list-group">
  <%= render @fines %>
</ul>

<h2>Refund policy</h2>
<p>
  These fines &amp; fees are <b>non refundable</b>:
  <ul>
    <li>Overdue and billing fines,</li>
    <li>Any fines for Law library materials.</li>
  </ul>
</p>
<p>Replacement fines for lost items <b>may be eligible for refund</b>, if you find and return the item to the library. The item must be in good condition, and returned within a year of the original payment.</p>
<p>Refunds are issued by check and may take two to four weeks to process. Contact library staff at the source library to discuss a refund.</p>
