<div class="schedule-dropdown schedule-visit dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="scheduleOnceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= sul_icon :'visit-library', classes: 'lg mr-2' %> Enter for research
  </button>
  <div class="dropdown-menu" aria-labelledby="scheduleOnceDropdown">
    <% schedulable_libraries.each do |library| %>
      <%= link_to_schedule_once_visit(library: library, text: library_name(library), css_class: 'dropdown-item') %>
    <% end %>
  </div>

  <%= library_entry_note %>
</div>
