<div class="modal-body">
  <iframe src="https://api3.libcal.com/widget/appointments?u=69353&lid=4596&gid=9430&iid=5088&t=At%20the" class="schedule-iframe" name="SchedulePickupIframe" scrolling="yes" frameborder="0" hspace="0" marginheight="0" marginwidth="0" height="900px" width="100%"></iframe>
</div>
<div class="modal-footer justify-content-start">
  <%= link_to 'Close', :back, class: 'btn btn-link cancel-link', data: { dismiss: 'modal' } %>
</div>
