<nav role="navigation" aria-label="Main navigation" id="mainnav" class="pt-3 pb-3">
  <ul class="nav nav-pills nav-justified container">
    <li class="nav-item">
      <%= link_to 'Summary', root_path, class: "nav-link #{active_page_class('summaries')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Checkouts', checkouts_path, class: "nav-link #{active_page_class('checkouts')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Requests', requests_path, class: "nav-link #{active_page_class('requests')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Fines', fines_path, class: "nav-link #{active_page_class('fines')}" %>
    </li>
  </ul>
</nav>
