<footer>
  <div id="sul-footer-container">
    <div class="container pt-3">
      <div class="row">
        <div id="sul-footer-img" class="col-sm-12 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-lg-start mb-3 mb-lg-0">
          <a href="https://library.stanford.edu" class="prefooter-logo">Stanford University Libraries</a>
        </div>
        <div id="sul-footer-links" class="col d-flex justify-content-center justify-content-lg-start align-items-center">
          <ul class="list-unstyled d-flex text-center my-0">
            <li class="mr-3"><a href="https://library-hours.stanford.edu/">Hours &amp; locations</a></li>
            <li class="mr-3"><a href="https://mylibrary.stanford.edu/">My Account</a></li>
            <li class="mr-3"><a href="https://library.stanford.edu/contact-us">Ask us</a></li>
            <li class="mr-3"><a href="https://library-status.stanford.edu/">System status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= render '/shared/global_footer' %>
</footer>
