<nav id="topnav" class="navbar navbar-expand-always" role="navigation">
  <div class="container">
    <a class="mb-0 navbar-brand navbar-logo polychrome"
      href="https://library.stanford.edu"
      >Stanford University Libraries
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "#{current_user.username}: logout", logout_url, class: 'nav-link', data: { turbo: false } if current_user? %>
      </li>
      <li class="nav-item">
        <%= link_to feedback_path, data: { toggle: 'collapse', target: '#feedback-form' }, class: 'nav-link' do %>
          Feedback
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<div id='feedback-form' class='feedback-form-container collapse'>
  <%= render 'shared/feedback_forms/form' if show_feedback_form? %>
</div>
