<div class="page-section">
  <% if Settings.folio_migration %>
    <h2>Unavailable due to system upgrade</h2>
    <p>My Library Account will be unavailable August 19 through August 27 for a major system upgrade. <%= link_to 'More information', 'https://library.stanford.edu/news/major-system-upgrade-august-19-27' %></p>
    <p>If you need help with your account, email <a href="mailto:greencirc@stanford.edu">greencirc@stanford.edu</a> or call (650) 723-1493.</p>
  <% else %>
    <h2>Temporarily unavailable</h2>
    <p>We're sorry, My Library Account is unavailable while its underlying systems are undergoing maintenance. </p>
    <p>If you need help with your account, email <a href="mailto:greencirc@stanford.edu">greencirc@stanford.edu</a> or call (650) 723-1493.</p>
  <% end %>
</div>
