<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
<% end %>


<h2>If your request isn't listed</h2>
<p>Mediated requests are not listed until they have been approved, which is typically a day or two before they are transferred to campus.</p>
<p><%= link_to 'Check interlibrary Borrowing', 'https://library.stanford.edu/using/interlibrary-borrowing' %> for requests made through interlibrary services.</p>
