$global-alert-color: rgb(204, 0, 0);
$su-bg-digital-green: rgb(0, 155, 118);

.global-alert {
  margin: 10px auto;
  padding: 15px;

  color: white;
  background: $su-bg-digital-green;
  border-radius: 8px;
  font-size: 1.215em;

  p:last-child {
    margin-bottom: 0;
  }
}