// scss-lint:disable IdSelector

.bg-cardinal-red {
  background-color: $cardinal-red;
}

#header-navbar {
  min-height: 100px;
  box-shadow(0, 4px, 8px, -2px, $sul-shadow-color);

  .navbar-brand {
    background-position: center;
    background-size: contain;
    flex: 0 0 175px;
    font-size: $h1-font-size;
    height: auto;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}
