.bg-cardinal-red {
  background-color: var(--stanford-cardinal);
}

#header-navbar {
  box-shadow: 0 4px 8px -2px var(--shadow-color);
  min-height: 100px;

  .navbar-brand {
    background-position: center;
    background-size: contain;
    flex: 0 0 175px;
    height: auto;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

.topnav-links {
  a {
    border-bottom: 3px solid transparent;
    color: var(--bs-white);
    margin-left: var(--bs-spacer);

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus,
    &:active {
      border-bottom: 3px solid var(--bs-white);
      text-decoration: none;
    }
  }

  .navbar-link {
    svg {
      fill: var(--bs-white);
      stroke: var(--bs-white);
    }
  }
}