.list-group-item {
  &:hover,
  &.expanded {
    background-color: $sul-list-group-item-bg;
  }
}

.list-group-item-warning {
  &:hover,
  &.expanded {
    background-color: $sul-list-group-item-warning-bg;
  }
}

.list-group-item-danger {
  &:hover,
  &.expanded {
    background-color: $sul-list-group-item-danger-bg;
  }
}
