.list-group-item {
  &:hover,
  &.expanded {
    background-color: var(--light-sandstone);
  }
}

.list-group-item-warning {
  color: var(--stanford-black);
  &:hover,
  &.expanded {
    background-color: var(--very-pale-orange);
  }
}

.list-group-item-danger {
  &:hover,
  &.expanded {
    background-color: var(--very-pale-red);
  }
}
