#mainnav {
  background-color: var(--main-nav-bg-color);

  a:hover,
  a:focus,
  a:active {
    background-color: rgba(var(--stanford-fog-rgb), .3);
    border-bottom: 0px solid transparent;
  }

  .lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .info {
    display: block;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
  }

  .nav-link {
    padding: .5rem;
  }
}

.nav-link.active {
  .lg {
    svg {
      fill: var(--stanford-black);
      stroke: var(--stanford-black);
    }
  }
}
