// scss-lint:disable IdSelector

#mainnav {
  background-color: $main-nav-bg-color;

  a:hover,
  a:focus,
  a:active {
    background-color: rgba($cloud, .3);
    border-bottom: 1px solid transparent;
  }

  .lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .info {
    display: block;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
  }

  .nav-link {
    padding: .5rem;
  }
}

.nav-link.active {
  .lg {
    svg {
      fill: $blackish;
      stroke: $blackish;
    }
  }
}

.proxy-tabs {
  li {
    font-size: $h3-font-size;
  }
}

// Adds the new library logo to the header & footer
// until we can update MyLibrary to use the component library

.navbar-logo, .prefooter-logo {
  mask-image: url("https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-01-10/styles/StanfordLibraries-logo.svg");
  mask-repeat: no-repeat;
  mask-position: 0 center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.navbar-logo {
  background-color: white;
}

.prefooter-logo {
  background-color:  white;
  width: 280px;
}

#sul-footer-links ul li a {
  color: white;
}

.sul-footer-align {
  display: table-cell;
  vertical-align: middle;
}