// scss-lint:disable IdSelector

#mainnav {
  background-color: $main-nav-bg-color;

  a:hover,
  a:focus,
  a:active {
    background-color: rgba($cloud, .3);
    border-bottom: 1px solid transparent;
  }

  .lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .info {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-link.active {
  .lg {
    svg {
      fill: $blackish;
      stroke: $blackish;
    }
  }
}
