.page-section {
  margin-bottom: $page-section-margin-bottom;

  h2 {
    margin-bottom: $spacer;
  }

  .list-group-item.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
