.page-section {
  margin-bottom: 45px;

  h2 {
    margin-bottom: var(--bs-spacer);
  }

  .list-group-item.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
