.record-title {
  @include h3-index-title-font;
  @include h3-index-title-small-font;
}


.expand-icon {
  display: none;
}

.collapsed {
  .collapse-icon {
    display: none;
  }

  .expand-icon {
    display: inline;
  }
}
