// scss-lint:disable SelectorFormat

.record-title {
  @include h3-index-title-font;
  @include h3-index-title-small-font;
}

.list-header {
  margin-left: 0;
  margin-right: 0;

  .call_number {
    white-space: nowrap;
  }
}

.expand-icon,
.collapse-icon {
  .sul-icons {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      fill: $bright-blue;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.expand-icon {
  display: none;
}

.collapsed {
  .collapse-icon {
    display: none;
  }

  .expand-icon {
    display: inline;
  }
}
