.record-title {
  font-family: 'dejavu_sansextralight', 'Arial Unicode MS', Helvetica, sans-serif;
  letter-spacing: -.03em;
  font-size: 1.138em;
  line-height: 1.4em;
}

.list-header {
  margin-left: 0;
  margin-right: 0;

  .call_number {
    white-space: nowrap;
  }
}

.expand-icon,
.collapse-icon {
  .sul-icons {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      fill: var(--stanford-digital-blue);
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.expand-icon {
  display: none;
}

.collapsed {
  .collapse-icon {
    display: none;
  }

  .expand-icon {
    display: inline;
  }
}
