.record-title {
  @include h3-index-title-font;
  @include h3-index-title-small-font;
}

.checkouts,
.recalled-checkouts {
  .list-group-item.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.list-header {
  margin-left: 0;
  margin-right: 0;
}

.expand-icon,
.collapse-icon {
  .sul-icons {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.expand-icon {
  display: none;
}

.collapsed {
  .collapse-icon {
    display: none;
  }

  .expand-icon {
    display: inline;
  }
}
