.schedule-once-iframe {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 100%;
}

// Clear the border styling on link hovers in the scheduling dropdown
.schedule-once-dropdown {
  .dropdown-menu a:hover {
    border-bottom: 0;
  }
}
