<p id=""><%= notice %></p>

<h1>Checkouts</h1>

<%= render 'shared/navigation' %>

<ul>
  <li class="d-none d-md-inline font-weight-bold">Status</li>
  <li class="d-none d-md-inline font-weight-bold">Date</li>
  <li class="d-none d-md-inline font-weight-bold">Title</li>
  <li class="d-none d-md-inline font-weight-bold">Author name</li>
  <li class="d-none d-md-inline font-weight-bold">Call number</li>
</ul>

<ul class="checkouts list-group">
  <%= render @checkouts %>
</ul>
