<div id="payments" class="page-section">
  <% if @payments.any? %>
    <div class="d-flex justify-content-between">
      <h2>History</h2>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort (<span data-sort-label>Date paid</span>)
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li class="dropdown-item" data-sort="bill_description">Reason</li>
          <li class="dropdown-item active" data-sort="payment_date">Date paid</li>
          <li class="dropdown-item" data-sort="item_title">Title</li>
          <li class="dropdown-item" data-sort="bill_amount">Amount</li>
        </ul>
      </div>
    </div>
  <% else %>
    <h2>History</h2>
    <span>There is no history on this account.</span>
  <% end %>

  <% if @payments.any? %>
    <div class="d-none d-md-flex row font-weight-bold list-header">
      <div class="row col-md-12 col-lg-6">
        <div class="col-md-4" data-sort="bill_description">Reason</div>
        <div class="col-md-4" data-sort="bill_amount">Amount</div>
        <div class="col-md-4 active" data-sort="payment_date">Paid on</div>
      </div>
      <div class="row col-md-12 col-lg-6">
        <div class="col-md-7" data-sort="item_title">Title</div>
      </div>
    </div>

    <ul class="payments list list-group">
      <%= render @payments %>
    </ul>
  <% end %>
</div>
