<h2><%= "#{group.sponsor.display_name}" %></h2>
<dl class="row">
  <% if patron.patron_type %>
    <dt class='col-4 col-md-2 font-weight-normal'>Patron type:</dt>
    <dd class='col-8 col-md-10 patron-type'><%= group.patron_type %></dd>
  <% end %>
  <dt class="col-4 col-md-2 font-weight-normal">Status:</dt>
  <dd class="col-8 col-md-10 patron-status"><%= group.status %></dd>
</dl>
