<h2><%= "#{group.sponsor.display_name}" %></h2>
<dl class="row">
  <% if patron.patron_type %>
    <dt class='col-2 col-sm-1 font-weight-normal'>Patron Type:</dt>
    <dd class='col-10 col-sm-11 patron-type'><%= group.patron_type %></dd>
  <% end %>
  <dt class="col-2 col-sm-1 font-weight-normal">Status:</dt>
  <dd class="col-10 col-sm-11 patron-status"><%= group.status %></dd>
</dl>
