/* Override base HTML here */

a {
  border-bottom: 1px solid transparent;
  text-decoration: none;

  svg {
    fill: var(--stanford-digital-blue);
  }

  &.disabled {
    color: var(--cool-grey);
    cursor: not-allowed;
    text-decoration: none;
  }
}

a[target="_blank"], p a, form a{
  border-bottom: 1px solid var(--stanford-digital-blue);
}

.btn:not(.btn-link):disabled {
  background-color: var(--cool-grey);
  color: var(--bs-white);
  cursor: not-allowed;
  text-decoration: none;
}

.btn-link:disabled {
  color: var(--stanford-black);
  opacity: 1;

  svg {
    fill: var(--stanford-black);
  }
}

a:hover,
a:focus,
a:active {
  border-bottom: 1px solid var(--stanford-digital-blue);
  text-decoration: none;

  &.btn-link {
    border-bottom: 1px solid transparent;
  }
}

body {
  background-color: var(--beige-5-percent);
  color: var(--stanford-black);
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  color: var(--stanford-black);
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 30px;
}

h2 {
  color: rgb(var(--stanford-stone-dark-rgb));
  line-height: 1.2em;
}

h3 {
  color: var(--cool-grey);
  line-height: 1.2em;
}

h4 {
  color: var(--cool-grey);
  line-height: 1.2em;
}

thead {
  color: rgb(var(--stanford-stone-dark-rgb));
  font-weight: 700;
}

.turbo-progress-bar {
  background: var(--stanford-digital-blue-dark);
  display: block;
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  z-index: 9999;
}

.text-recalled,
.patron-barred {
  color: theme-color-level('danger', 6);

  svg {
    fill: var(--stanford-digital-red);
  }
}

.text-overdue,
.text-lost {
  color: theme-color-level('warning', 6);

  svg {
    fill: var(rgb(--stanford-poppy-rgb));
  }
}

.text-ready {
  color: var(--dark-mint);

  svg {
    fill: var(--mint);
  }
}

[data-sort] {
  cursor: pointer;
}
