// Override base HTML here

a {
  border-bottom: 1px solid transparent;
  text-decoration: none;

  svg {
    fill: $sul-link-color;
  }

  &.disabled {
    color: $sul-btn-disabled-color;
    cursor: not-allowed;
    text-decoration: none;
  }
}

a[target="_blank"], p a, form a{
  border-bottom: 1px solid $su-digital-blue;
}

.btn, .btn-link {
  text-decoration: none;
}

.btn:not(.btn-link):disabled {
  background-color: $sul-btn-disabled-color;
  color: $white;
  cursor: not-allowed;
  text-decoration: none;
}

.btn-link:disabled {
  color: $sul-btn-link-disabled-color;
  opacity: 1;

  svg {
    fill: $sul-btn-link-disabled-color;
  }
}

a:hover,
a:focus,
a:active {
  @include link-styling;

  &.btn-link {
    border-bottom: 1px solid transparent;
  }
}


body {
  background-color: $sul-bg-color;
  color: $sul-text-color;
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  color: $sul-h1-font-color;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 30px;
}

h2 {
  color: $sul-h2-font-color;
  line-height: 1.2em;
}

h3 {
  color: $sul-h3-font-color;
  line-height: 1.2em;
}

h4 {
  color: $sul-h4-font-color;
  line-height: 1.2em;
}

thead {
  color: $sul-h2-font-color;
  font-weight: 700;
}

.turbo-progress-bar {
  background: $su-digital-blue-dark;
  display: block;
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  z-index: 9999;
}

.text-recalled,
.patron-barred {
  color: shade-color($danger, 48);

  svg {
    fill: $color-recalled;
  }
}

.text-overdue,
.text-lost {
  color: shade-color($warning, 48);

  svg {
    fill: $color-overdue;
  }
}

.text-ready {
  color: $dark-mint;

  svg {
    fill: $color-ready;
  }
}

[data-sort] {
  cursor: pointer;
}

// Bootstrap 4 applied `flex: 0 0 33.33333%` to col-md-4. Bootstrap 5 does not.
// This util class is used to transition the responsive tables from BS4 -> BS5
// with minimal markup changes.
.flex-basis-4 {
  flex-basis: 33%;
}
