// Override base HTML here

a {
  border-bottom: 1px solid transparent;
  text-decoration: none;

  svg {
    fill: $sul-link-color;
  }

  &.disabled {
    color: $sul-btn-disabled-color;
    cursor: not-allowed;
    text-decoration: none;
  }
}

a[target="_blank"], p a, form a{
  border-bottom: 1px solid $bright-blue;
}

:disabled {
  // scss-lint:disable ImportantRule
  background-color: $sul-btn-disabled-color !important;
  color: $white;
  cursor: not-allowed;
  text-decoration: none;
  // scss-lint:enable ImportantRule
}

a:hover,
a:focus,
a:active {
  @include link-styling;

  &.btn-link {
    border-bottom: 1px solid transparent;
  }
}


body {
  background-color: $sul-bg-color;
  color: $sul-text-color;
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  color: $sul-h1-font-color;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 30px;
}

h2 {
  color: $sul-h2-font-color;
  line-height: 1.2em;
}

h3 {
  color: $sul-h3-font-color;
  line-height: 1.2em;
}

h4 {
  color: $sul-h4-font-color;
  line-height: 1.2em;
}

thead {
  color: $sul-h2-font-color;
  font-weight: 700;
}

.turbolinks-progress-bar {
  background: $blue;
  display: block;
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  z-index: 9999;
}

.text-recalled,
.patron-barred {
  color: theme-color-level('danger', 6);

  svg {
    fill: $color-recalled;
  }
}

.text-overdue,
.text-lost {
  color: theme-color-level('warning', 6);

  svg {
    fill: $color-overdue;
  }
}

.text-ready {
  color: $dark-mint;

  svg {
    fill: $color-ready;
  }
}

[data-sort] {
  cursor: pointer;
}
