/* These are styles mostly copied from the component library. They should be removed after moving to the component library */
.navbar-logo,
.prefooter-logo {
  mask-image: url("https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-02-20/styles/StanfordLibraries-logo.svg");
  mask-repeat: no-repeat;
  mask-position: 0 center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 250px;

  &.polychrome {
    background-color: transparent;
    mask-image: none;
    background-image: url("https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-02-20/styles/StanfordLibraries-logo-poly.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
  }
}

.prefooter-logo {
  background-color: white;
}

@media (width < 768px) {
  .prefooter-logo {
    min-height: 30px;
  }
}

#sul-footer-links a {
  color: white;
  &:hover,
  &:focus,
  &:active {
    border-bottom: none;
    text-decoration: underline;
  }
}
