// https://gist.github.com/garyharan/957284/fa9366f955d07671112c32510bfd9a1f141bc38a

// scss-lint:disable PropertySortOrder, VendorPrefix
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
// scss-lint:enable PropertySortOrder, VendorPrefix

@mixin link-styling {
  border-bottom: 1px solid $sul-link-color-border;
  color: $sul-link-color-border;
  text-decoration: none;
}


@mixin h3-index-title-small-font {
  font-size: 1.138em;
  line-height: 1.4em;
}

@mixin h3-index-title-font {
  font-family: 'dejavu_sansextralight', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: $h4-font-size;
  letter-spacing: -.03em;
  line-height: 1.5em;
}
