// https://gist.github.com/garyharan/957284/fa9366f955d07671112c32510bfd9a1f141bc38a

// scss-lint:disable PropertySortOrder, VendorPrefix
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
// scss-lint:enable PropertySortOrder, VendorPrefix
