// scss-lint:enable PropertySortOrder, VendorPrefix

@mixin link-styling {
  border-bottom: 1px solid $sul-link-color-border;
  color: $sul-link-color-border;
  text-decoration: none;
}


@mixin h3-index-title-small-font {
  font-size: 1.138em;
  line-height: 1.4em;
}

@mixin h3-index-title-font {
  font-family: 'dejavu_sansextralight', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: $h4-font-size;
  letter-spacing: -.03em;
  line-height: 1.5em;
}

@mixin truncate-by-lines($lines) {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
}
